{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block content %} 

  <div class="contact">                         
    <h1>Contact Us</h1>
    <p>Have a question or concern? Reach out to us!</p>
    <p>If you have an account, we recommend logging in</p>
        <form action="" method="post">
          {% csrf_token %}

          <div>
            <label for="username">Username</label>
            {{ form.username }}
          </div>
          <div>
            <label for="email">Email</label>
            {{ form.email }}
          </div>

          <div>
            <label for="subject">Subject</label>
            {{ form.subject }}
          </div>
          <div>
            <label for="message">Msg</label>
            {{ form.message }}
          </div>

          <div>
            <button>Send Message</button>
          </div>
        </form>
  </div>



{% endblock content %}