:root{
  --primary-color: #00deff;
  --primary-color-50: #E5FCFF;
  --primary-color-300: #66EBFF;

  --secondary-color: #64A7C4;
  --secondary-color-600: #387894;
  --secondary-color-900: #0E1E25;

  --background-color: rgb(9, 12, 16);

  --font-1: 'Barlow Semi Condensed', sans-serif;

}

*{
  font-family: var(--font-1);
  font-weight: 500;
  font-style: normal;
}

html, body{
  background-color: #101112;
  color: white;
  margin: 0;
  padding: 0;
}

ul, li{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  color: rgb(144, 178, 199);
  
  text-decoration: none;
}
a:hover{
  color: rgb(114, 148, 152)
}





/*********************************NAV BAR************************************/

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #272929;
  
  position: sticky;
  top: 0; 
  font-size: 1.3rem; 
  color: var(--primary-color-50);
}

.support-style, .mod-style {
  position: relative;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block; /* Keeps the element's layout intact */
  transition: color 0.3s ease; /* Add smooth transition for font weight */
}

.support-style button, .mod-style button {
  position: relative;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.mod-style {
  padding-left: 88px;
}

.support-style::before,
.mod-style::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 5px;
  background-color: var(--primary-color-300);
  transition: width 0.3s ease, left 0.3s ease; /* Add smooth transition for width and left */
}

.support-style:hover::before,
.mod-style:hover::before {
  width: 100%;
  left: 0; /* Expand underline */
}

.support-style:hover,
.mod-style:hover {
  color: var(--primary-color-300)  ;
}


.logo{
  width: 10%;
  margin-left: 30px;
  transition: transform 0.1s;
}
.logo img{
  width: 80px;
  
}
.logo:hover{
  transform: scale(1.05);
}

.right-nav{
  display: flex;
  align-items: center;
  margin-left: 10px;
  justify-content: space-around; 
}

.right-nav input, select{
  height: 40px;    
  font-size: 16px;
}

.account-actions{
  border-left: solid 1px white;
  margin-left: 10px;
  padding-left: 5px;
  
  display: flex;
  margin-right: 30px;
}

.right-nav button{
  padding: 10px;
  width: 100px;
  margin-left: 5px;

  a{
    font-size: 1.1rem;
  }
}

.login{
  border: 2px solid var(--secondary-color-600);
  color: white;
  margin: auto;
  padding: 13px;
  padding-left: 22.5px;
  padding-right: 22.5px;
  margin-left: 10px;
}

.register{
  -webkit-box-shadow: 0px 0px 6px 4px rgba(100,167,196,1);
  -moz-box-shadow: 0px 0px 6px 4px rgba(100,167,196,1);
  box-shadow: 0px 0px 6px 4px rgba(100,167,196,1);
  background-color: var(--secondary-color-600);
  border: none;
  color: white;
  margin: auto;
  margin-left: 10px;
  padding: 15px;
}

.register:hover{
  background-color: var(--secondary-color);
  color: var(--secondary-color-600);
}

.register a{
  color: var(--primary-color-50);
}

.left-nav{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropbtn {
  
  background-color: var(--secondary-color-900);
  color: white;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-left: 10px;
}

.dropdown-content {
  background-color: var(--secondary-color-600);
  display: block;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  max-height: 0; /* Initially set the height to 0 */
  overflow: hidden; /* Hide content that overflows */
  transition: max-height 0.3s ease-in-out; /* Smooth transition */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--secondary-color);
}

/* Hover state for the dropdown */
.dropdown:hover .dropdown-content {
  max-height: 500px; /* Set a max-height when opening */
}

.search-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: 30px;
}

.logged-in{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
}

.username{
  margin-left: 5px;
}

.username a{
  
  font-size: 1.3rem;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-color: var(--darkblue);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

button {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

button {
  position: relative;
  border: none;
  font-size: 18px;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
  border-radius: 3px;
  margin: 0 10px;
  padding: 23px 33px;
  border: 3px solid transparent;
}

button:active {
  transform: translateY(3px);
}

button::after,
button::before {
  border-radius: 3px;
}

.shrink-border {
  background-color: transparent;
  color: rgb(40, 40, 50); /* Darkened manually */
}

.shrink-border:hover {
  background-color: transparent;
  box-shadow: none;
  color: var(--offwhite);
}

.shrink-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid rgb(40, 40, 50); /* Darkened manually */
  transition: opacity 0.3s, border 0.3s;
}

.shrink-border:hover::before {
  opacity: 0;
}

.shrink-border::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 3px solid var(--offwhite);
  opacity: 0;
  z-index: -1;
  transform: scaleX(1.1) scaleY(1.3);
  transition: transform 0.3s, opacity 0.3s;
}

.shrink-border:hover::after {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}
.material-bubble {
  background-color: transparent;
  color: rgb(40, 40, 50);
  border: none;
  overflow: hidden;
  box-shadow: none;
  position: relative;
  display: inline-block;
  padding: 12px 20px;
}

.material-bubble:hover {
  color: var(--offwhite);
}

.material-bubble::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid rgb(40, 40, 50);
  transition: opacity 0.3s, border 0.3s;
}

.material-bubble:hover::before {
  opacity: 0;
}

.material-bubble::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110%; /* Dynamic width based on character count */
  height: calc(1ch * var(--char-length, 10)); /* Dynamic height based on character count */
  background-color: rgb(60, 60, 70);
  border-color: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  opacity: 0;
  z-index: -1;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.material-bubble:hover::after {
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
}




/*********************************Font Database************************************/

/* .barlow-semi-condensed-thin {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-semi-condensed-extralight {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-semi-condensed-light {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-semi-condensed-regular {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-semi-condensed-medium {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semi-condensed-semibold {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-semi-condensed-bold {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-semi-condensed-extrabold {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-semi-condensed-black {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-semi-condensed-thin-italic {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-semi-condensed-extralight-italic {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-semi-condensed-light-italic {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-semi-condensed-regular-italic {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-semi-condensed-medium-italic {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-semi-condensed-semibold-italic {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-semi-condensed-bold-italic {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-semi-condensed-extrabold-italic {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-semi-condensed-black-italic {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 900;
  font-style: italic;
} */