.list-container {
  width: 75%;
  margin: 0 auto; /* Centers the container */
  margin-top: 25px;
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: center; /* Ensures content stays centered */
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* /* Responsive columns */
  gap: 10px; /* Adds space between items */
  max-width: 1500px; /* Prevents excessive stretching */
  width: 100%; /* Ensures items fit dynamically */
  justify-content: center; 
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #7599c2;
  border-radius: 8px;
  padding-bottom: 5px;
  text-align: center;
  width: 100%;
  max-width: 290px;
  box-sizing: border-box;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.5354516806722689) 100%, rgba(0,0,0,0) 100%);
  transition: background 0.2s ease-in-out, border 0.05s ease-in-out, transform 0.1s ease-in-out;
}
.list-item img {
  max-width: 100%; /* Prevents images from being too large */
  height: 160px; /* Maintains aspect ratio */
}

.list-item:hover {
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.6643032212885154) 100%, rgba(0,0,0,0) 100%);
  transform: scale(1.01); /* Slight zoom effect */
}

.upload-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}


/******************************Pagination******************************/
.pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
  text-align: center;
  margin-bottom: 25px;
}

.next, .prev { 
  padding: 5px;
}

.pagination div, form, span{
  margin: 5px;
}

.pagination-bottom{
  text-shadow: 0px 0px 2px rgba(0,0,0,0.97);
  padding: 25px;
  border-radius: 15px;
}

/******************************RATING******************************/

.rating{
  background-color: #1d1d1d;
  display: flex;
  max-height: 50px;
  justify-content: space-between;
  align-items: center;
}
.rating button{
  padding: 0px;
  background-color: #1d1d1d;
  opacity: 0.60;
  transition: opacity 0.2s, scale 0.2s;
}
.rating img{
  width: 30px;
  height: 100%;
}
.rating button:hover{
  opacity: 1;
  scale: 1.15;
}


.result{
  display: flex;
  justify-content: center;
  font-size: 24px;
}
.result img{
  width: 20px;
  height: auto;
  margin-right: 10px;
}
.result p{
  display: flex;
  align-items: center;
}
.bad-res{
  color: rgb(185, 88, 88);
}