 {% extends "base.html" %}
 {% load static %}
 
 {% block title %}Upload{% endblock title %}
 
 {% block content %}
 
 <h1>Mod Upload Page</h1>
 
 <div>

    <h1>Upload</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      
      <!-- Mod Upload Fields -->
      {{ form.as_p }}
  
      <!-- Image Upload Field -->
      <label for="images">Upload Additional Images:</label>
      <input type="file" name="images" multiple>
  
      <button type="submit">Upload Mod & Images</button>
  </form>
  


 </div>
 
 {% endblock content %}